{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block title %} API Pokebuild {% endblock %}

{% block body %}

<div class="wrapper">
    <h1> Bienvenue sur l'API Pokebuild ! </h1>
  
        <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            {% for pokemon in pokemons %}
            <div class="carousel-item {% if pokemon.id == 1 %}active{% endif %}">
            <img class="d-block w-50" src="{{ pokemon.image }}" alt="{{ pokemon.name }}">
            <div class="carousel-caption d-none d-md-block">
                <h5>{{ pokemon.name }}</h5>
            </div>
            </div>
             {% endfor %}
        </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
       
   
    <p><strong> Liste des routes disponibles : </strong></p>
         <ul>
            <li> Pour récupérer la liste de tous les Pokemon : api/v1/pokemon<br>
            Attention il y en a 898 !! 
            <a href="{{ path('api_v1_pokemon') }}">Liste des Pokemon </a>
            </li>
             <li> Si vous préférez récupérer un nombre limité de Pokemon : api/v1/pokemon/limit/100 => 
            cette route vous emmènera sur la liste des 100 premiers Pokemon
            <a href="{{ path('api_v1_pokemon_limit', {'number' : 100 }) }}">Pokemon en nombre limité </a>
            </li>
            <li> Pour récupérer la liste de tous les types de Pokemon : api/v1/types
            <a href="{{ path('api_v1_types', {'typeName' : 'Spectre' }) }}">Liste des types  </a>
            </li>
            <li> Pour récupérer un Pokemon selon son Id : api/v1/pokemon/850 => 
            cette route vous emmènera sur la fiche de Grillepattes, qui a l'id 850
            <a href="{{ path('api_v1_pokemon_by_id', {'id' : 850 }) }}">Pokemon par Id </a>
            </li>
            <li> Pour récupérer un Pokemon selon son nom : api/v1/pokemon/Gruikui => 
            cette route vous emmènera sur la fiche de Gruikui 
            <a href="{{ path('api_v1_pokemon_by_name', {'name' : 'Gruikui' }) }}">Pokemon par nom </a>
            </li>
            <li> Pour récupérer tous les Pokemon d'une certaine génération : api/v1/pokemon/generation/3 => 
            cette route vous emmènera sur la liste de tous les Pokemon de la génération 3
            <a href="{{ path('api_v1_pokemon_generation_by_id', {'id' : 3 }) }}">Pokemon par génération </a>
            </li>
            <li> Pour récupérer tous les Pokemon d'un certain type : api/v1/pokemon/type/Eau => 
            cette route vous emmènera sur la liste de tous les Pokemon de type Eau
            <a href="{{ path('api_v1_pokemon_by_type_name', {'name' : 'Eau' }) }}">Pokemon par type </a>
            </li>
            <li> Pour récupérer tous les Pokemon de 2 certains types : api/v1/pokemon/types/Eau/Normal => 
            cette route vous emmènera sur la liste de tous les Pokemon qui ont le type Eau et le type Normal
            <a href="{{ path('api_v1_pokemon_by_double_type', {'typeName1' : 'Eau', 'typeName2' : 'Normal'}) }}">
            Pokemon par double type </a>
            </li>
            <li> Pour récupérer tous les Pokemon qui présentent une faiblesse à un certain type : 
            api/v1/pokemon/type/weakness/Fée => 
            cette route vous emmènera sur la liste de tous les Pokemon qui présentent une faiblesse au type Fée
            <a href="{{ path('api_v1_pokemon_by_weakness', {'typeName' : 'Fée' }) }}">Pokemon par faiblesse à un type </a>
            </li>
            <li> Pour récupérer tous les Pokemon qui présentent une double faiblesse à un certain type : 
            api/v1/pokemon/type/double-weakness/Feu => 
            cette route vous emmènera sur la liste de tous les Pokemon qui présentent une double faiblesse au type Feu
            <a href="{{ path('api_v1_pokemon_by_double_weakness', {'typeName' : 'Feu' }) }}">Pokemon par faiblesse à un type </a>
            </li>
            <li> Pour récupérer tous les Pokemon qui présentent une résistance à un certain type : 
            api/v1/pokemon/type/resistance/Dragon => 
            cette route vous emmènera sur la liste de tous les Pokemon qui présentent une résistance au type Dragon
            <a href="{{ path('api_v1_pokemon_by_resistance', {'typeName' : 'Dragon' }) }}">Pokemon par résistance à un type </a>
            </li>
            <li> Pour récupérer tous les Pokemon qui présentent une double résistance à un certain type : 
            api/v1/pokemon/type/double-resistance/Glace => 
            cette route vous emmènera sur la liste de tous les Pokemon qui présentent une double résistance au type Glace
            <a href="{{ path('api_v1_pokemon_by_double_resistance', {'typeName' : 'Glace' }) }}">
            Pokemon par double résistance à un type </a>
            </li>
            <li> Pour récupérer tous les Pokemon qui sont immunisés contre un certain type : 
            api/v1/pokemon/type/immunity/Spectre => 
            cette route vous emmènera sur la liste de tous les Pokemon qui sont immunisés contre le type Spectre
            <a href="{{ path('api_v1_pokemon_by_immunity', {'typeName' : 'Spectre' }) }}">Pokemon par immunité à un type </a>
            </li>
            
            <li class="generateur">Vous pouvez aussi tester notre générateur de couverture défensive et notre suggestion automatique de Pokémon ci-dessous ! :</li>
            
            <a href="{{ path('defensive-cover-test') }}">Tester le générateur de couerture défensive</a>
            <br>
            <a href="{{ path('suggestion-test') }}">Tester la suggestion automatique de Pokémon</a>
</div>



{% endblock %}
